<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{subject}</title>
</head>
<body>
Dear user,<br />
<br />
<br />
The administrator of the site {site_name} has created an account for you. You may now log in to http://{site_link} using the following username and password:<br />
<br />
username: {username}<br />
password: {password}<br />
<br />
<br />
Admin<br />
{site_name}
</body>
</html>