<!-- start install admin -->
<h2>New Password for User "admin"</h2>
<table class="zig_table_installationFields">
	<tr>
    	<td class="zig_fields_label">[Password]</td>
        <td>:</td>
		<td><input type="password" id="password_id" name="password" /></td>
	</tr>
	<tr>
    	<td class="zig_fields_label">[Confirm]</td>
	   	<td>:</td>
	   	<td><input type="password" id="confirm_id" name="confirm" /></td>
    </tr>
</table>
<br />
<input onclick="install_admin('{zig_hash}') ;" type="button" name="install" value="Install Password" />

<!-- end install admin -->