<!-- start messenger -->
<div id="div_zig_messenger">
	<div id="div_zig_message">{message}</div>
</div>
<!-- end messenger -->
<!-- start topmenu -->
<div id="zig_div_topmenu_wrapper">
	{topmenu}

	<!-- start applications -->
	<div id="zig_div_applications_wrapper">
		{applications}

		<!-- start tabs -->
		<div id="zig_div_tabs_wrapper">
			{tabs}

				<!-- start content -->
				<div id="div_zig_body_wrapper">
					{content}
				</div>
				<!-- end content -->

		</div>
		<!-- end tabs -->

	</div>
	<!-- end applications -->

</div>
<!-- end topmenu -->