<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{subject}</title>
</head>
<body>
Dear Admin,<br />
<br />
A user with an email address "{email}" have registered.<br />
<br />
To approve this user, please click the link below.<br />
<a href="{approved_verification_link}">Approved!</a><br />
<br />
<br />
To disapprove this user, please click the link below.<br />
<a href="{disapproved_verification_link}">Disapproved!</a><br />
<br />
<br />
Sincerely,<br />
<br />
Zigbin<br />
{site_name}
</body>
</html>