<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{subject}</title>
</head>
<body>
Dear User,<br />
<br />
Welcome to {site_name}.  To complete the registration process, please click the link below to verify your email address.<br />
<br />
<a href="{verification_link}">{verification_link}</a><br />
(If the above link does not work, please copy the full link and paste it to your Internet Browser)<br />
<br />
<br />
Sincerely,<br />
<br />
Admin<br />
{site_name}
</body>
</html>