<!-- start topmenu -->

<!-- start header -->
<div id="div_zig_topmenu">
<table>
	<tr>
		<td class="zig_topmenu_left_cell">
		{topLeft}
		<!--</td>
		<td class="zig_topmenu_center_cell">-->
<!-- end header -->

<!-- start modules -->
		{module_separator} <a href="{module_link}"><font class='zig_topmenu_application_{class}'>{module_name}</font></a>
<!-- end modules -->

<!-- start footer -->
		</td>
		<td class="zig_topmenu_right_cell">{username}&nbsp;{topRight}|&nbsp;<a href="{logout_link}">{logout_text}</a></td>
	</tr>
</table>
</div>
<!-- end footer -->

<!-- end topmenu -->