<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- start wrapper -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>{zig_title}</title>
<link rel="icon" href="{zig_icon}" type="image/x-ico" />
<link rel="shortcut icon" href="{zig_icon}" />
{zig_head_jscripts}
{zig_custom_head_jscripts}
<link href="{zig_main_css}" rel="stylesheet" type="text/css" />
{zig_additional_css}
</head>
<body>
{buffer}
{zig_body_jscripts}
{zig_custom_body_jscripts}
{zig_jscript_events}
</body>
</html>

<!-- end wrapper -->